{:deps {org.clojure/data.priority-map {:mvn/version "0.0.10"}
        aysylu/loom {:mvn/version "1.0.2"}
        ;; This version of dorothy library has a small fix for
        ;; this issue: https://github.com/daveray/dorothy/issues/18
        dorothy/dorothy {:git/url "https://github.com/daveray/dorothy"
                         :sha "207570804dfda2162a15b9ee55b5e76ec6e1ecfa"}
        ;;dorothy/dorothy {:mvn/version "0.0.6"}
        com.rpl/specter {:mvn/version "1.1.2"}
        potemkin/potemkin {:mvn/version "0.4.5"}}}
