{:deps {org.clojure/data.priority-map {:mvn/version "0.0.10"}
        aysylu/loom {:mvn/version "1.0.2"}
        dorothy/dorothy {:mvn/version "0.0.6"}
        com.rpl/specter {:mvn/version "1.1.2"}
        potemkin/potemkin {:mvn/version "0.4.5"}}}
